---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Stack from '../components/Stack.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="mx-auto max-w-site px-4 sm:px-6">
			<Hero />
			<About />
			<Experience />
			<Stack />
			<Projects />
			<Contact />
		</main>
		<Footer />
	</body>
</html>
